<!DOCTYPE html>
<head>
    <title>User form</title>
    <link  rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
    <h2>User Registration Form</h2>
    <form action="/form" method="post">
        <input type="text" name="name" placeholder="First Name" required> <br> <br>
        <input type="text" name="Mname" placeholder="middle Name" required> <br> <br>
         <input type="text" name="Lname" placeholder="last name Name" required> <br> <br>
        <input type="text" name="Email" placeholder="Email  Address" required> <br> <br>
        <input type="text" name="phone" placeholder="phone number" required> <br> <br>
        <select name="gender">
            <option value="">Select Gneder </option>
            
            <option value="female"> Female </option>
        
            <option value="male">Male  </option>
        </select> <br> <br>
       <button type="submit">Submit</button>  
    </form>
    </div>
</body>
</html>