*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}


form{
    margin: 10px;
}
.form-container{
    background: #fff;
    padding: 30px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-container h2{
    margin-bottom: 35px;
    text-align: center;
    color: #333;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    width: 100%;
    padding: 10px;
    background: #66a6ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #4f8df5;
    
}


.success-box h2{
    margin-bottom: 20px;
    color: #333;
}

.success-box p{
    margin-bottom: 10px;
    color: #333;
}